// 垂直填滿
.vGrow-enter-active,
.vGrow-leave-active { transition: all .5s $cubic-FiSo; }
.vGrow-enter-from,
.vGrow-leave-to { height: 0; }
.vGrow-enter-to,
.vGrow-leave-from { height: 100%; }


// 黑洞
.blackHole-enter-active,
.blackHole-leave-active { transition: .3s $cubic-FiSo; }
.blackHole-enter-from,
.blackHole-leave-to { @include setSize(); }
.blackHole-enter-to,
.blackHole-leave-from { @include setSize(100%, 100%); }


// 垂直位移淡入淡出
.fadeY-enter-active,
.fadeY-leave-active {
    transition: .3s $cubic-FiSo;
}
.fadeY-enter-from {
    opacity: 0;
    transform: translateY(-100px);
}
.fadeY-leave-to {
    opacity: 0;
    transform: translateY(100px);
}

// 水平位移淡入淡出
.fadeX-enter-active,
.fadeX-leave-active {
    border-radius: 0;
    transition: .3s $cubic-FiSo;
}
.fadeX-enter-from {
    opacity: 0;
    border-radius: 9999;
    transform: translateX(-100px);
}
.fadeX-leave-to {
    opacity: 0;
    border-radius: 9999;
    transform: translateX(100px);
}


// 水平展開
.unfold-enter-active,
.unfold-leave-active {
    transform: scaleX(1);
    transition: .3s $cubic-FiSo;
}
.unfold-enter-from {
    opacity: 0;
    transform: scaleX(0);
}
.unfold-leave-to {
    opacity: 0;
    transform: scaleX(0);
}


// 逐字出現
.verbatim-enter-active{ transition: .5s $cubic-FiSo; }
.verbatim-move {
    position: absolute;
    transition: .5s $cubic-FiSo;
}
.verbatim-enter-from,
.verbatim-leave-to {
    opacity: 0;
    transform: translateX(-10px);
}
