# open rewrite
Options +FollowSymlinks
RewriteEngine on

RewriteRule ^mapi/([a-z][A-Z][0-9])/list/$   RESTfulApi.php?route=$1&action=list [nc,qsa]
RewriteRule ^mapi/([a-z][A-Z][0-9])/info/([0-9]+)/$   RESTfulApi.php?route=$1&action=info&id=$2 [nc,qsa]